.card-widget
    .corgi_card
      .corgi
        .ears
          .left
          .right
        .head
          .forehead
          .eyes
            .left
            .right
          .snout
            .bridge
            .booper
          .mouth
            .tongue
        .magnificent-floof
          .left
          .right