.calendar .calendar-header table th {
    font-size: 22px;
    padding: 5px;
    cursor: pointer;
}

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap");
.calendar-card-class, body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.calendar-card-class {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/jess-harding-lqT6NAmTaiY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Rajdhani", sans-serif;
}


.glass {
    height: 300px;
    width: 300px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/jess-harding-lqT6NAmTaiY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    -webkit-clip-path: inset(10em);
    clip-path: inset(10em);
    filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-shadow {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-shadow:before {
    display: block;
    content: "";
    position: absolute;
    top: 10em;
    height: calc(100% - 20em);
    width: calc(100% - 20em);
    border-top: 2px solid rgba(225, 225, 225, 0.2);
    border-left: 1px solid rgba(225, 225, 225, 0.1);
    border-right: 1px solid rgba(225, 225, 225, 0.3);
    z-index: 2;
}

.drop-shadow > #calendar_card {
    position: absolute;
    z-index: 5;
    color: white;
    font-size: 4em;
    padding-left: 0.375em;
}

@media (max-width: 980px) {
    .glass {
        -webkit-clip-path: inset(5em);
        clip-path: inset(5em);
    }

    .drop-shadow:before {
        top: 5em;
        width: calc(100% - 10em);
    }

    .drop-shadow > span {
        font-size: 4em;
    }
}

@media (max-width: 640px) {
    .drop-shadow > span {
        font-size: 2em;
    }
}
.calendar {
    overflow: visible;
}

.day {
    position: relative;
}
.popover *{
    width: 100%;
}
.qs .popover {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    bottom: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: none;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;
    left: -45px;
    padding: 7px 10px;
    position: absolute;
    min-width: 100px;
    z-index: 999;
}

.qs .popover:before {
    border-top: 7px solid rgba(0, 0, 0, 0.85);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
}

.qs:hover .popover {
    display: block;
    -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}
@-moz-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}
@-ms-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}